{% extends "base.html" %}
{% load static %}

{% block content %}

    <section id="thank" class="section-p1">
        <h2>A equipe da DRACOLABS agradece o envio de suas informações!</h2>
        <h4>De uma olhadinha na data e nos horarios que temos disponiveis. Agende a sua reunião.</h4>
    </section>

    <section id="calendly" class="section-p1">
        <div class="calendly-inline-widget" data-url="https://calendly.com/agenciadragonfy/30min?primary_color=ff8800" style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </section>

{% endblock %}