@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 10px 40px;
}

body {
    width: 100%;
    overflow-x: hidden;
}

:root {
    --cor-principal: #feb62c;
    --cor-destaque: #ff341c;
    --cor-estrutural: #d3d3d3;
    --cor-letras-b: #000;
    --cor-letras-w: #fff;
}

.normal-btn {
    width: 240px;
    height: 40px;
    font-size:16px;
    border: none;
    cursor: pointer;
}

.logo {
    width: 225px;
    height: 35px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding-bottom: 60px;
}

nav button {
    padding: 10px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--cor-letras-b);
    z-index: 1;
    background: var(--cor-principal);
    position: relative;
    font-weight: 500;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

nav button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--cor-destaque);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

nav button:hover {
    color: #e8e8e8;
}

nav button:hover::before {
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    position: relative;
}

#navbar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0 15px;
    font-weight: 400;
    cursor: pointer;
}

#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--cor-destaque);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li.last :hover::after {
    content: none;
}

#hero {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(15, 21, 37, .8);
    z-index: -1;
}

#hero .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: start;
}

#hero .text .title1 {
    font-size: 70px;
    text-align: start;
    font-weight: 600;
    word-spacing: 0.3px;
    line-height: 0.8;
    margin-right: 25%;
    color: var(--cor-letras-w);
}

#hero .text .title2 {
    font-size: 70px;
    text-align: start;
    font-weight: 600;
    word-spacing: 0.3px;
    line-height: 0.8;
    margin-left: 28%;
    color: var(--cor-destaque);
}

#hero .text .title3 {
    font-size: 70px;
    text-align: start;
    font-weight: 600;
    word-spacing: 0.3px;
    line-height: 0.8;
    margin-right: 9%;
    color: var(--cor-letras-w);
}

#hero .text .title4 {
    font-size: 70px;
    font-weight: 600;
    text-align: start;
    word-spacing: 0.3px;
    line-height: 0.8;
    margin-left: 24%;
    color: var(--cor-destaque);
}

#about .conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#about .conteiner img {
    width: 50%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
}

#about .conteiner .box-title {
    margin: 0 40px;
    width: 60%;
}

#about .conteiner .title {
    font-size: 18px;
    color: #ababab;
    position: relative;
}

#about .conteiner .title::after {
    content: '';
    width: 200px;
    height: 1px;
    background-color: #ababab;
    position: absolute;
    top: 15px;
    right: 160px;
}

#about .conteiner .sub-title {
    font-size: 46px;
    font-weight: 800;
}

#about .conteiner .content p {
    width: 50%;
    margin: 0 0 45px 0;

}

#solution {
    position: relative;
    height: 110vh;
    display: none;
}

#solution .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 700px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

#solution .container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 10px 30px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

#solution .container .slide .item:nth-child(1),
#solution .container .slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

#solution .container .slide .item:nth-child(3){
    left: 50%;
}

#solution .container .slide .item:nth-child(4){
    left: calc(50% + 220px);
}

#solution .container .slide .item:nth-child(5){
    left: calc(50% + 440px);
}

#solution .container .slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

#solution .container .slide .item .content {
    position: absolute;
    top: 30%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #000;
    transform: translate(0, 50%);
    font-family: system-ui;
    display: none;
}

#solution .container .slide .item:nth-child(2) .content {
    display: block;
}

#solution .container .slide .item .content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

#solution .container .slide .item .content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 0.3s ease-in-out 1 forwards;
}

#solution .container .slide .item .content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 0.6s ease-in-out 1 forwards;
}

#solution .container .slide .item .content a {
    text-decoration: none;
    color: #000;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

#solution .container .button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

#solution .container .button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    margin: 0.5px;
    transition: 0.3s;
    border: none;
}

#solution .container .button button:hover {
    background: #ababab;
    color: #fff;
}

.spinner {
    width: 90.4px;
    height: 90.4px;
    --clr: rgb(247, 197, 159);
    --clr-alpha: rgb(247, 197, 159,.1);
    animation: spinner 1.6s infinite ease;
    transform-style: preserve-3d;
  }
  
  .spinner > div {
    background-color: var(--clr-alpha);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);
  }
  
  .spinner div:nth-of-type(1) {
    transform: translateZ(-35.2px) rotateY(180deg);
  }
  
  .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }
  
  .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }
  
  .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
  }
  
  .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
  }
  
  .spinner div:nth-of-type(6) {
    transform: translateZ(35.2px);
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
  
    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
  
    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }

#entertain {
    display: flex;
    align-items: center;
}

#entertain .ilus-text {
    padding: 0 50px;
}

#entertain .ilus-text h2:nth-child(3) {
    color: var(--cor-destaque);
}

#text {
    display: flex;
    justify-content: flex-end;
}

#text .info-text {
    width: 50%;
}

#text .info-text h4 {
    padding-bottom: 10px;
}

#provide strong {
    color: var(--cor-destaque);
}

#provide .block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0;
}

#provide .block .content {
    width: 440px;
    height: 600px;
    padding: 20px;
    border: 1px solid var(--cor-estrutural);
    border-radius: 10px;
    position: relative;
}

#provide .block .content img {
    width: 85%;
    position: absolute;
    top: 32%;
    left: 7%;
}

#provide .block .content:hover a {
    color: var(--cor-destaque);
}

#provide .block .content .title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0;
}

#provide .block .content .sub-title {
    font-size: 16px;
    margin: 8px 4px;
    top: 16%;
    position: absolute;
}

#provide .block .content .des {
    font-size: 16px;
    margin: 8px 0px;
    top: 70%;
    position: absolute;
}

#provide .block .content .link {
    margin: 8px 0;
    top: 90%;
    position: absolute;
}

#provide .content a {
    text-decoration: none;
    color: var(--cor-letras-b);
    font-weight: 600;
}

#provide .block .content h4 {
    font-size: 36px;
}

#provide .block .content:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#meta .principal-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#meta .principal-title h2 {
    padding: 20px;
}

#meta .block {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

#meta .block-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-estrutural);
    padding: 30px;
}

#meta .block .block-content .title {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 8px 0;
}

#meta .block-content .content {
    display: flex;
    flex-direction: column;
}

#meta .block-content .title h4 {
    font-size: 24px;
    text-align: start;
    padding: 0 15px;
}

#meta .block-content .title h1 {
    padding: 0 20px;
    font-size: 78px;
}

#meta .content p {
    margin: 2px 0;
}

#quality {
    height: 100vh;
}

#quality h4 {
    text-align: center;
}

#quality strong {
    color: var(--cor-destaque);
}

#quality .conteiner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

#quality .block {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#quality .block img{
    width: 400px;
    height: 400px;
    padding: 60px;
    text-align: center;
}

#quality .block h2 {
    color: var(--cor-destaque);
}

#new-letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
}

#new-letter form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#new-letter form input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    margin: 5px;
}

#new-letter .col {
    display: flex;
}

#new-letter .btn-form {
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    border: 0.5px solid var(--cor-estrutural);
}

#new-letter .text {
    width: 50%;
}

#new-letter .text h4 {
    color: var(--cor-letras-w);
    font-size: 32px;
    font-weight: 700;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--cor-estrutural);
}

footer .col{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 20px;
}

footer .logo {
margin-bottom: 30px;
}

footer h4 {
font-size: 14px;
padding-bottom: 20px;
}

footer p {
font-size: 13px;
margin: 0 0 8px 0;
}

footer a {
font-size: 13px;
text-decoration: none;
color: #222;
margin-bottom: 10px;
}

footer .follow {
margin-top: 20px;
}

footer .follow i {
color: #465b52;
font-size: 25px;
padding-right: 6px;
cursor: pointer;
}

footer .follow i:hover, 
footer a:hover {
color: var(--cor-destaque);
}

footer .copyright {
width: 100%;
text-align: center;
}


/* Thanks page */

#thank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    padding-top: 200px;
}

#calendly {
    background-color: var(--cor-principal);
}

#calendly h2 {
    color: var(--cor-letras-w);
}


@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        visibility: hidden;
        overflow: hidden;
    }

    .logo {
        width: 230px;
        height: 35px;
    }

    #hero .text .title1 {
        font-size: 50px;
        margin-left: 12%;
    }

    #hero .text .title2 {
        font-size: 50px;
        margin-left: 20%;
    }

    #hero .text .title3 {
        font-size: 50px;
        margin-left: 20%;
    }

    #hero .text .title4 {
        font-size: 50px;
        margin-left: 20%;
        margin-top: 5%;
    }

    #about .conteiner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about .conteiner .title::after {
        content: '';
        width: 160px;
        height: 1px;
        background-color: #ababab;
        position: absolute;
        top: 15px;
        left: 100px;
    }

    #about .conteiner .sub-title {
        text-align: center;
    }

    #about .conteiner .content {
        text-align: center;
        margin-top: 15px;
    }

    #about .conteiner .content p {
        width: 100%;
    }

    #solution {
        display: none;
    }

    #quality {
        height: 2200px;
    }

    #quality .conteiner {
        flex-direction: column;
        align-items: center;
    }

    #quality .block img {
        width: 360px;
        height: 360px;
        padding: 60px;
        text-align: center;
    }

    .spinner {
        display: none;
    }

    #entertain .ilus-text {
        padding: 0;
    }

    #text .info-text h4 {
        text-align: center;
    }

    #provide .block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #provide .block .content {
        width: 400px;
        height: 600px;
    }

    #provide .block .content .des {
        width: 95%;
        right: 8px;
        text-align: center;
    }

    #provide .block .content .title:nth-child(1) {
        font-size: 28px;
    }

    #meta .block {
        flex-direction: column;
        gap: 20px;
    }

    #meta .block-content {
        width: auto;
        padding: 15px;
    }

    #meta .block-content .title h1 {
        padding: 0;

    }

    #new-letter .text {
        display: none;
    }

    #new-letter form {
        width: 100%;
    }

    footer {
        justify-content: center;
        flex-direction: column;
    }

    footer .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }
}